$base-primary: #FF3B00;
$base-secondary: #3c1874;

$base-black: #000;
$base-white: #fff;
$base-grey: #283747;

$text-primary: #932432;
$text-white: #F3F3F3;

$triangle-top: #e5f4d3;
$triangle-bottom: #f2dde6;

