@import "../assets/_colors.scss";

.Card {
  width: 400px;
  border-radius: 4px;
  background-color: $base-white;
  box-shadow: 0 0 10px rgba($base-grey, .5);
  position: relative;

  &_Add {
    position: absolute;
    top: 100%;
    right: 10%;
    transform: translateY(-25px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $base-primary;
    padding: 5px;
    text-align: center;
    color: $base-white;
    z-index: 3;
    cursor: pointer;
  }
}
