@import "../assets/_colors.scss";

.Filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid  $base-grey;
  border-bottom: 1px solid  $base-grey;
  padding: 10px 20px;

  &_Button {
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;

    &.active {
      color: $text-primary;
    }
  }
}
