.TodoList {
  height: 300px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  overflow: auto;
  flex-direction: column;

  &_Empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    height: 100px;
    opacity: .3;
    width: 100%;
  }
}
