.todo-item {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}
.remove-item {
  cursor: pointer;
  margin-left: 15px;
}
.remove-item:hover {
  color: lightseagreen;
}
.todo-item-left {
  display: flex;
  align-items: center;
}
.todo-item-label {
  border: 1px solid white;
  margin-left: 12px;
}
.completed {
  text-decoration: line-through;
  color: grey;
}